:root{
  --maingreen: #419e9d;
  --mainred: #c74159;
  --maingray: #c6cac7;
  --mainnavy: #143265;
  --subblue:#4088b1;
  --subyellow:#ebd45d;
  --subpink:#da7e82;
}

/* font */
@font-face {
  font-family: 'Phenomena-Bold';
  url('../font/Phenomena-Bold.woff');
}
@font-face {
  font-family: 'Phenomena-Regular';
  url('../font/Phenomena-Regular.woff');
}
@font-face {
  font-family: 'tsukushi';
  src: url('../font/TsukushiAMaruGothic.ttc') format("truetype");
}

*{
  font-family : "tsukushi","sans-serif";
}


/* sp横、pc画面での表示 */
@media screen and (min-width:480px){
  .sp{
    display: none;
  }
}
html,main{
  height: 100%;
}
body{
  margin: 0 auto;
  width:100%;
  height:70%;
  background-image: url("../image/background.png");
  background-size:100% auto;
  transition: all 1s;
}
/* もう一度診断するボタンが押された時に追加するクラス */
.zoom {
  animation: zoom 10s ease 0s 1 normal;
}
@keyframes zoom {
  0% {}
  50%{
  width: 100vw;
    top:-100px;
    z-index: 999;
  }
  100% {
    width: 125px;
    top:10px;
    z-index: 999;
  }
}

.pc{
  width:100%;
  height:100%;
}

/* もう一度診断するボタン */
.moreButton{
  position: absolute;
  width: 18%;
  top:10%;
  left:70%;
}
.more {
  display: inline-block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  background: var(--subyellow);/*ボタン色*/
  color: #282828;
  border : solid 2px white;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.more:active{
  background: white;
  border : solid 2px var(--subyellow);
  transform:scale(0.9,0.9);
}

/* 半透明の中身 */
.box{
  width: 90%;
  height:100%;
  margin:12% 5% 0% 5%;
  background: rgba(255,255,255,0.93);
  position: relative;
}
.box img{
  width: 140px;
  position: absolute;
  top:-66px;
  left:calc(45vw - 70px);
}
#image{
  width:125px;
  position: absolute;
  top:10px;
  left:30px;
  animation: rotate 2s ease 0s infinite normal;
  -webkit-animation: rotate 2s ease 0s infinite normal;
}
@keyframes rotate {
  49% {transform:rotateZ(0);}
  50% {transform:rotateZ(-5deg)}
  99% {transform:rotateZ(-5deg)}
  100% {transform:rotateZ(0);}
}

@-webkit-keyframes rotate {
  49% {transform:rotateZ(0);}
  50% {transform:rotateZ(-5deg)}
  99% {transform:rotateZ(-5deg)}
  100% {transform:rotateZ(0);}
}
.serif{
  width:35%;
  height:100%;
  position: absolute;
}
.serif img{
  width:130px;
  position: absolute;
  top:20px;
  left:40px;
}
#serif{
  width:40%;
  top:6px;
  left:120px;
}
.question{
  margin-top: 15%;
  margin-left:35%;
  width: 60%;
  position: absolute;
}
.buttonArea{
  position: absolute;
  margin-top:calc(25% + 20px);
  margin-left:40%;
  width: 60%;
}
.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #fff;/*ボタン色*/
  color: #000;
  border : solid 1px #000;
  width: 30%;
  text-align: center;
}
.buttonYes{
  color: var(--subpink);
  border : solid 1px var(--subpink);
  margin-right: 15px;
}
.buttonYes:active {
  /*ボタンを押したとき*/
  background-color: var(--subpink);
  color:white;
  transform:scale(0.9,0.9);
}
.buttonNo{
  color: var(--subblue);
  border : solid 1px var(--subblue);
}
.buttonNo:active {
  /*ボタンを押したとき*/
  background-color: var(--subblue);
  color:white;
  transform:scale(0.9,0.9);
}
#result{
  display: none;
}

#text{
  width: 80%;
  margin-top: 5%;
  margin-bottom:5%;
  margin-left: 10%;
  text-align: center;
  position: relative;
  /*animation-name: slideOut;*/
  /*animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;*/
  animation: none;
  font-size: 20px;
  letter-spacing: 5px;
  color:#282828;
}

/* 結果画像のポップアップ */
#pops{
  
}
#pop{
  display: none;
  width:90vw;
  height:90vh;
  margin:5vh 5vw;
  z-index:10;
  background-color: var(--subyellow);
  position: absolute;
  top:0;
  left:0;
  border-radius: 10px;
  animation:none;
  transform:rotate(-3deg);
}
#popImg{
  display:inline;
}
.osusume{
  width:60vw;
  margin-top:5vh;
  margin-left:15vw;
  margin-bottom:3vh;
}
.hukidasiBox{
  width:50vw;
  margin-left:15vw;
  position: relative;
}
#hukidasi{
  width:100%;
}
#bushomei{
  width:60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8vh;
  margin: auto;
  animation:bushomei 1s infinite;
}
@keyframes bushomei{
  0%{transform: rotate(-3deg);}
  40%{transform: rotate(-3deg);}
  50%{transform: rotate(-3deg);}
  60%{transform: rotate(-3deg);}
  100%{transform: rotate(-3deg);}
}
#picture{
  width:40vw;
  position: absolute;
  right:0px;
  bottom:0px;
}
#picture2{
  width:28vw;
  position: absolute;
  left:0px;
  bottom:0px;
}
#kanbuT{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
#kanbuP{
  width:86%;
  position: absolute;
  bottom:0;
  left:7%;
}
.more2{
  padding: 0.5em 0.5em;
  text-decoration: none;
  background: #f2f2f2;/*ボタン色*/
  color: var(--subpink);
  border : solid 2px var(--mainred);
  width: 20%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left:3vw;
  bottom:3vh;
  box-shadow: 2px 2px var(--mainred);
}
.more2:active{
  transform: translateX(2px);
  transform: translateY(2px);
  box-shadow:none;
}
/* @keyframes popsIn{
  0%{
    left:-100vw;
  }
  100%{
    left:0vw;
  }
} */
@keyframes popsIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
/* @keyframes popsOut{
  0%{
    left:0vw;
  }
  100%{
    left:100vw;
  }
} */
@keyframes popsOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}


/* iPhone10画面縦での表示*/
@media screen and (min-width: 800px) {
  .box{
    width:80%;
    margin:12% 10% 0 10%;
  }
  #pop{
    width:74vw;
    margin:5vh 13vw;
  }
  .osusume{
    margin-left:7vw;
    margin-top:3vh;
    margin-bottom:0vh;
  }
  .hukidasiBox{
    width: 44vw;
    margin-left: 8vw;
  }
}



/* sp画面縦での表示*/
@media screen and (max-width: 499px) {
  body{
    background-size:200% auto !important;
    height: 100% !important;
  }
  .sp{
    width:100%;
    height:100%;
    position: relative;
    background: rgba(255,255,255,0.5);
  }
  .sp p{
    width: 80%;
    margin-left: 10%;
    position: relative;
    text-align: center;
    top:400px;
    font-size: 15px;
    padding: 10px;
    background-color: var(--subblue);
    color:white;
    border-radius: 10px;

  }
  .sp img{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    top:150px;
  }
  .pc{
    display:none;
    transform:translateX(-100vw) rotate(90deg);

  }
  #pops{
    display:none;
  }
  html,main{
    width:100vw;
    height:100vh;
  }
  .pc{
    width:100vh;
    height:100vw;
  }

}